/* ---------- Tooltip ---------- */
// -- Component -- //
@include component-styles($tooltip-styles, $name-tooltip);
@include component-styles-before($tooltip-before, $name-tooltip, false, true, $tooltip-before-ltr, $tooltip-before-rtl);
@include component-styles-after($tooltip-after, $name-tooltip, false, true, $tooltip-after-ltr, $tooltip-after-rtl);
@include component-styles-pseudo-hover($tooltip-pseudo-hover, $name-tooltip);


// -- Modifiers -- //
// Colors
@include modifier-colors-before($tooltip-before-colors, $name-tooltip);
@include modifier-colors-after($tooltip-after-colors, $name-tooltip);

// ::after border-color
.#{$name-tooltip}:not(.#{$name-tooltip + $mod + 'top'}):not(.#{$name-tooltip + $mod + 'bottom'}):not(.#{$name-tooltip + $mod + 'left'}):not(.#{$name-tooltip + $mod + 'right'})::after {
    border-bottom-color: transparent !important;
    border-left-color:   transparent !important;
    border-right-color:  transparent !important;
}

// Sizes
@include modifiers-styles-before($tooltip-before-sizes, $name-tooltip);

// Positions
@if $ltr {
    @include modifiers-styles-before($tooltip-before-positions-ltr, $name-tooltip);
    @include modifiers-styles-after($tooltip-after-positions-ltr, $name-tooltip);
} @else {
    @include modifiers-styles-before($tooltip-before-positions-rtl, $name-tooltip);
    @include modifiers-styles-after($tooltip-after-positions-rtl, $name-tooltip);
}
