// ----- Basic Variables ----- //
// -- Colors -- //
$strict-colors:         true !default;           // true | false (for !important)
$has-color:             true !default;           // true | false
$has-background-color:  true !default;           // true | false
$has-border-color:      false !default;          // true | false
$has-outline-color:     false !default;          // true | false
$has-placeholder-color: false !default;          // true | false
$has-selection-color:   false !default;          // true | false


// -- Backgrounds -- //
$strict-bgs: true !default;              // true | false (for !important)


// -- Sizing -- //
$responsive-sizing: true !default;      // true | false
$strict-sizing:     true !default;      // true | false (for !important)
$rest-widths: (
    flex:  "1 0 !important",
    width: "1% !important"
) !default;


// -- Spacing -- //
$responsive-spacing: true !default;      // true | false
$strict-spacing:     true !default;      // true | false


// -- Clear -- //
$strict-clear: true !default;            // true | false
$clearfix-styles: (
    content:  '""', 
    display:  table, 
    clear:    both
) !default;


// -- Resize -- //
$strict-resize: true !default;           // true | false


// -- Cursor  -- //
$strict-cursor: true !default;           // true | false
